.display-flex{
    display: flex;
    align-items: center;
    position: relative;
}
.display-flex button{
    margin-left: 25px;
    margin-top: 8px;
}
.popup-content{
    width: auto !important;
    top: 4% !important;
}
.popup-content .popup-arrow{
    top: 16% !important;
}
.popup-content .row{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.popup-content .row input{
    margin-left: 20px;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.popup-content .row label{
    width: 130px;
}
.popup-content .row .time{
    margin-left: 20px;
    width: 30px;
}
.popup-content .row button{
    margin: auto;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border: none;
    outline: none;
    padding: 2%;
    border-radius: 3px;
    margin-top: 10px;
    width: max-content;
}
